*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'head'
    'main '
    'foot';
  gap: 1em;
  grid-auto-flow: column dense;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', monospace;
  font-size: 16px;
  width: 100vw;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  text-align: left;
}

header {
  grid-area: head;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  grid-area: foot;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  font-size: 0.85rem;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

.logo-img {
  height: 1.45rem;
  width: auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4em;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: #090909;
}

a,
.date {
  font-size: 0.75rem;
}

.hero.post {
  width: 100%;
  height: 12.38%;
  background-color: #090909;
  background-image: url('/images/article-image-hero.svg');
  background-size: cover;
  color: #fff;
}

.hero-front {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 1.25em;
  padding-top: 5.44em;
  padding-bottom: 1.56em;
}

h1.hero {
  font-size: 2rem;
  line-height: 108.2%;
  letter-spacing: -3%;
}

.article-preview.hero {
  letter-spacing: 0%;
  line-height: auto;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.article-posts {
  width: 100%;
  display: grid;
  grid-template-columns: 1.25em 1fr 1.25em;
  grid-template-areas:
    '..... ..... .....'
    '..... arti1 .....'
    '..... arti2 .....'
    '..... arti3 .....'
    '..... ..... .....';
  gap: 2.56em 0.125em;
  justify-content: center;
}

.blog-img {
  width: 100%;
}

#article1 {
  grid-area: arti1;
}
#article2 {
  grid-area: arti2;
}
#article3 {
  grid-area: arti3;
}

.blog-posts {
  width: 100%;
  display: grid;
  grid-template-columns: 1.25em 1fr 1.25em;
  grid-template-areas:
    '..... ..... .....'
    '..... blog1 .....'
    '..... blog2 .....'
    '..... blog3 .....'
    '..... ..... .....';
  gap: 2.56em 0.125em;
  justify-content: center;
}

#blog1 {
  grid-area: blog1;
}
#blog2 {
  grid-area: blog2;
}
#blog3 {
  grid-area: blog3;
}

.hidden {
  /* display: none; */
}
