*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-areas:
    'head'
    'main '
    'foot';
  grid-auto-flow: column dense;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', monospace;
  font-size: 16px;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p,
h2 {
  align-self: flex-start;
}

header {
  width: 100%;
  grid-area: head;
  padding: 1.063em 1.5em 1.178em 1.25em;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  grid-area: foot;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  font-size: 0.85rem;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

.logo-img {
  height: 1.45rem;
  width: auto;
}

.nav {
  width: 100%;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2em;
}

a {
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
  color: #090909;
}

.hero.post {
  width: 100%;
  height: 20%;
  background-color: #090909;
  background-image: url('/images/article-image-hero.svg');
  background-size: cover;
  color: #fff;
  padding: 0 1.25em;
}

.hero-front {
  margin-top: 29.71%;
  margin-bottom: 1.56em;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 0.5em;
}

h1.hero {
  font-size: 2rem;
  line-height: 108.2%;
  letter-spacing: -3%;
}

.article-preview.hero {
  letter-spacing: 0%;
  line-height: auto;
}

.post {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.article-posts, .blog-posts {
  width: 100%;
  display: grid;
  grid-template-columns: 1.25em 1fr 1.25em;
  row-gap: 2.56em;
  justify-content: center;
}

.article-posts {
  grid-template-areas:
    '..... ..... .....'
    '..... arti1 .....'
    '..... arti2 .....'
    '..... arti3 .....'
    '..... ..... .....';
}

#article1 {
  grid-area: arti1;
}
#article2 {
  grid-area: arti2;
}
#article3 {
  grid-area: arti3;
}

.blog-img {
  width: 100%;
  margin-bottom: 0.875em;
}

.date {
  font-size: 0.886rem;
}

.blog-posts {
  grid-template-areas:   
    '..... blog1 .....'
    '..... blog2 .....'
    '..... blog3 .....'
    '..... ..... .....';
}

#blog1 {
  grid-area: blog1;
}
#blog2 {
  grid-area: blog2;
}
#blog3 {
  grid-area: blog3;
}

.hidden {
  display: none;
}

#expand-btn {
  all:unset ;
  text-decoration: underline #000;
  text-decoration-thickness: 1px;
  font-family: 'Source Sans 3', monospace;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 2.69em;
}


.btn-link:hover, .btn-link:focus {
  text-decoration-color: #090909;
}

.btn-link:active {
  text-decoration-color: #090909;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.25em;
  background-color: #202020;
  color: #ececec;
  font-size: 0.75rem;
  padding: 3.08em 0;
}

footer p {
  align-self: center;
  color: #d7d7d7;
}